body{
    background-color: lightblue;
    text-align: center;
}

.wrapper{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* img{
    transform: translate(120px, 220px);
    transform: scale(2.5, 0.5);
    transform: rotateZ(85deg);
    transform: rotateZ(-85deg) translateY(200px) scale(1.5);
} */

.circle{
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    background-color: pink;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    margin: 60px auto;
    transition: 1s ease-in 0.8s;
}

.circle:hover{
    background: salmon;
    transform: rotate(360deg);
}